* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);

  --Rose50: hsl(20, 50%, 98%);
  --Rose100: hsl(13, 31%, 94%);
  --Rose300: hsl(14, 25%, 72%);
  --Rose400: hsl(7, 20%, 60%);
  --Rose500: hsl(12, 20%, 44%);
  --Rose900: hsl(14, 65%, 9%);
  --White: hsl(0, 10%, 100%);
  --primary-font: "Red Hat Text";
  --text-footer: hsl(240, 3%, 7%);
  --link-footer: hsl(228, 84%, 52%);
}
.wrraper{
  background-color: var(--Rose50);
 padding: 45px;
}
.desserts-container{
  margin-bottom: 50px;
}
.img,
.cart-container{
  max-width: 328px;
  width: 100%;
  border-radius: 10px;
}
.img-dessert{
  position: relative;
  margin-bottom: 50px;
}
.btn{
  position: absolute;
  bottom: -20px;
  left: 100px;
  border-radius: 50px;
  padding: 16px;
}
.cart-container{
  background-color: var(--White);
  padding: 32px;
}
/* ================  FOOTER  ============== */

footer {
  max-width: 275px;
  margin: 0 auto;
  padding: 3rem 0;
}

.attribution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.attribution p {
  font-weight: 600;
  color: var(--text-footer);
}

.attribution a {
  font-style: italic;
  text-decoration: none;
  color: var(--link-footer);
}
